<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New crack upload from: <%= @user.name %></h1>
    <h2>User Info</h2>
    <ul>
        <li>Name: <%= @user.name %></li>
        <li>Email: <%= @user.email %></li>
        <li>Phone Number: <%= @user.email %></li>
        <li>Office Name: <%= @user.officename %></li>
        <li>Office Address: <%= @user.address %></li>


    </ul>

    <% @images.each do |image|  %>
        <%=image_tag image%>
    <% end %>
    
  </body>
</html>