<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New crack upload from: <%= @user.name %></h1>
    <h2>User Info</h2>
    <ul>
        <li>Name: <%= @user.name %></li>
        <li>Email: <%= @user.email %></li>
        <li>Phone Number: <%= @user.phone %></li>
        <li>Office Name: <%= @user.officename %></li>
        <li>Office Address: <%= @user.address %></li>


    </ul>
    <h2>Crack Info</h2>
    <ul>
        <li>Client Contact Info: <%= @post.contact %></li>
        <li>Address: <%= @post.address %></li>
        <li>Billing Address: <%= @post.billing %></li>
        <li>Message: <%= @post.message %></li>


    </ul>
    
  </body>
</html>